#shrek {
    float: left;
}

header {
    width: 100%;
    text-size-adjust: 50;
}

.heading {
    width: 50%;
    float: left;
}

.links1 {
    float: right;
    width: 40%;
    margin-top: 30px;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    margin-left: 250px;
    margin-right: 250px;
}

h1 { 
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.bodywrap {
    width: 960px;
}