#shrek {
    float: left;
}

header {
    width: 100%;
}

.heading {
    width: 50%;
}

.links1 {
    float: right;
    width: 40%;
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

body {
    margin-left: 250px;
    margin-right: 250px;
}
